<h2 class="text-center" *ngIf='mascota.nombre'><b>{{mascota.nombre}}</b></h2>
<form #prestacionForm="ngForm">
  <div class="form-row py-2">
    <div class="col-lg-12 col-md-12">
      <label><b>TIPO DE PRESTACIÓN<sup class="text-danger">*</sup></b></label>&nbsp;
      <input type="radio" name="tipo" [(ngModel)]='prestacion.tipo' value="Alimentacion">&nbsp;Alimentación
      <input type="radio" name="tipo" [(ngModel)]='prestacion.tipo' value="Alojamiento" checked>&nbsp;Alojamiento
     </div>
  </div>
  <div class="form-row py-2">
    <div class="col-lg-2 col-md-12">
      <label><b>MASCOTA<sup class="text-danger">*</sup></b></label>
      <select name="mascotas" [(ngModel)]="codMascota" (change)="cargarMascota()" class="form-control" required
        #mascota="ngModel" [ngClass]="{ 'is-invalid': mascota.invalid && (mascota.dirty || mascota.touched),
      'is-valid': !mascota.invalid }">
        <option *ngFor="let mascota of mascotas" [value]="mascota.id">
          <span>{{ mascota.nombre }}</span>
        </option>
      </select>
      <div class="text-danger" *ngIf="mascota.invalid && (mascota.dirty || mascota.touched)">
        <div *ngIf="mascota.errors.required">
          Es obligatorio elegir la mascota
        </div>
      </div>
    </div>
    <!--<div class="col-lg-4 col-md-12">
      <label><b>ENTRADA<sup class="text-danger">*</sup></b></label>
      <input type="date" name="entrada" [(ngModel)]='prestacion.fechaEntrada' required>
     </div>
    <div class="col-lg-4 col-md-12">
      <label><b>SALIDA<sup class="text-danger">*</sup></b></label>
      <input type="date" name="entrada" [(ngModel)]='prestacion.fechaEntrada' required>
     </div>     -->
    <!--a parte de no funcionar me ha puesto a 0 el precio del dia -->
  </div>
  <div class="form-row py-2">
    <div class="col-lg-2 col-md-12">
      <label><b>JAULA<sup class="text-danger">*</sup></b></label>
      <select name="jaula" id="jaula" [(ngModel)]='prestacion.jaula' class="form-control" required #jaula="ngModel"
        [ngClass]="{ 'is-invalid': jaula.invalid && (jaula.dirty || jaula.touched),
      'is-valid': !jaula.invalid }">
        <option [value]="jaula" *ngFor="let jaula of jaulas">{{jaula}}</option>
      </select>
      <div class="text-danger" *ngIf="jaula.invalid && (jaula.dirty || jaula.touched)">
        <div *ngIf="jaula.errors.required">
          Es obligatorio elegir la jaula
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-12"></div>
      <div class="col-lg-4 col-md-12" *ngIf='prestacion.tipo == "Alimentacion"'>
       <label class="d-flex text-center"><b>TIPO DE COMIDA<sup class="text-danger">*</sup></b></label>
        <input type="radio" name="tipoComida" [(ngModel)]='prestacion.tipoComida' value="normal">&nbsp;Normal&nbsp;
        <input type="radio" name="tipoComida" [(ngModel)]='prestacion.tipoComida' value="premium">&nbsp;Premium
      </div>
      <div class="col-lg-4 col-md-12" *ngIf='prestacion.tipo == "Alimentacion"'>
        <label class="d-flex text-center"><b>COMIDA DIARIA<sup class="text-danger">*</sup></b></label>
        <input type="radio" name="cantidadComidaDiaria" [(ngModel)]='prestacion.cantidadComidaDiaria' value=50>&nbsp;50 (S)&nbsp;
        <input type="radio" name="cantidadComidaDiaria" [(ngModel)]='prestacion.cantidadComidaDiaria' value=100>&nbsp;100 (M)&nbsp;
        <input type="radio" name="cantidadComidaDiaria" [(ngModel)]='prestacion.cantidadComidaDiaria' value=150>&nbsp;150 (L)&nbsp;
        <input type="radio" name="cantidadComidaDiaria" [(ngModel)]='prestacion.cantidadComidaDiaria' value=200>&nbsp;200 (XL)
      </div>
  </div>
  <div class="form-row justify-content-between pt-5">
    <div class="col-lg-5 col-md-12">
      <button class="btn btn-primary" role="button" (click)="crearPrestacion()"
        [disabled]="!prestacionForm.form.valid">
        Crear Prestacion
      </button>
    </div>
  </div>
</form>