<div *ngFor="let prestacion of prestaciones">
  <div class="card">
    <img class="card-img-top" alt="">
    <div class="card-body">
      <h4 class="card-title text-center"><b>{{prestacion.tipo | uppercase}}</b></h4>
      <p class="card-text"><b>Inicio:&nbsp;</b>{{prestacion.fechaEntrada}}</p>
      <p class="card-text"><b>Fin:&nbsp;</b>{{prestacion.fechaSalida}}</p>
      <p class="card-text"><b>Jaula:&nbsp;</b>{{prestacion.jaula}}</p>
      <p class="card-text"><b>Tipo de Comida:&nbsp;</b>{{prestacion.tipoComida}}</p>
      <p class="card-text"><b>Cantidad de comida/día:&nbsp;</b>{{prestacion.cantidadComidaDiaria}} gr</p>
      <p class="card-text"><b>Precio:&nbsp;</b>{{prestacion.precioPrestacion}} €</p>
    </div>
  </div>
</div>