<footer class="footer bg-light"><!-- fixed-bottom mb-2 -->
  <div class="container text-center">
    <div class="row justify-content-around">
      <a class="btn btn-link" href="https://twitter.com/tweeter?lang=es" rel="noopener" target="_blank">
        <i class="fa fa-twitter fa-3x"></i>
      </a>
      <a class="btn btn-link" href="https://git.institutomilitar.com/" aria-hidden="true" target="_blank">
        <i class="fa fa-gitlab fa-3x"></i>
      </a>
      <a class="btn btn-link" href="https://wa.me/34669899668" rel="noopener" target="_blank">
        <i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i>
      </a>
      <a class="btn btn-link" href="https://facebook.com/" aria-hidden="true" target="_blank">
        <i class="fa fa-facebook fa-3x"></i>
      </a>
    </div>
  </div>
</footer>
