<div class="row">
  <div class="col-4 mt-3">{{ participante.id | uppercase }}</div>
  <div class="col-4 mt-3">{{ participante.nombre | uppercase }}</div>
  <div class="col-2">
    <button type="button" class="btn btn-outline-primary" (click)="editar(participante)">
    <!-- <button type="button" class="btn btn-outline-primary" (click)="editar(participante)" data-toggle="modal" data-target="#modalEditar"> -->

      Editar
    </button>
  </div>
  <div class="col-2">
    <button type="button" class="btn btn-outline-danger" (click)="eliminar(participante)">
      Eliminar
    </button>
  </div>
</div>
<!-- <div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Editar Participante
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-participante-form
          [participanteEditar]="participanteEditar"
        ></app-participante-form>
      </div>
    </div>
  </div>
</div> -->
