<div class="row mb-2">
  <hr class='w-100'>
  <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2"><b>nombre de la MASCOTA</b></div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-1 col-xl-1"><a class="" data-toggle="modal"
      data-target="#modalPrestacion" (click)='prestacionSeleccionada.emit(prestacion)'> {{prestacion.tipo |
      uppercase}}</a></div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2">{{prestacion.fechaEntrada}}</div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2">{{prestacion.fechaSalida}}</div>
  <div class="col-10 col-sm-10 col-md-2 col-lg-1 col-xl-1">{{prestacion.jaula}}</div>
  <div class="col-10 col-sm-10 col-md-2 col-lg-1 col-xl-1">{{prestacion.tipoComida}}</div>
  <div class="col-10 col-sm-10 col-md-2 col-lg-2 col-xl-2">{{prestacion.cantidadComidaDiaria}}</div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-1 col-xl-1 d-flex flex-column text-center">
    <fa-icon [icon]="variablePago"></fa-icon>
  </div>
</div>






  <!-- <fa-icon [icon]="faTimes"></fa-icon>
<fa-icon [icon]="faCheck"></fa-icon> -->