<div class="row mb-2">
  <hr class='w-100'>
  <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3"><a class="" data-toggle="modal" data-target="#modalPrestacion"
      (click)='prestacionSeleccionada.emit(prestacion)'> {{prestacion.nombre | uppercase}}</a></div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2">{{prestacion.apellido1 | titlecase}}</div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">{{prestacion.apellido2 | titlecase}}</div>
  <div class="col-10 col-sm-10 col-md-2 col-lg-2 col-xl-2">{{prestacion.tfno}}</div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2">
    <!-- <button class="btn btn-success" [routerLink]="['/planeta', cliente.planeta]">Mascotas</button> -->
    <button class="btn btn-success" [routerLink]="['/mascotas', prestacion.mascotas]">Mascotas</button>
    <!--a ver como lo pongo...-->
  </div>
</div>