<div class="row mb-2">
  <hr class='w-100'>
  <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3"><a class="" data-toggle="modal"
      data-target="#modalMascota" (click)='mascotaSeleccionada.emit(mascota)'> {{mascota.nombre | uppercase}}</a></div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2">{{mascota.raza | titlecase}}</div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">{{mascota.talla | uppercase}}</div>
  <div class="col-10 col-sm-10 col-md-2 col-lg-2 col-xl-2">{{cliente.nombre | titlecase}} {{cliente.apellido1 | titlecase}}</div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2">
    <button class="btn btn-success" [routerLink]="['/mascotas/prestaciones', mascota.id]">Prestaciones</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalMascotas" tabindex="-1" role="dialog" aria-labelledby="mascotas"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mascotas">Mascotas de {{mascota.nombre}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let prestacion of prestaciones">
          <div class="card">
            <img class="card-img-top" alt="">
            <div class="card-body">
              <h4 class="card-title text-center">{{prestacion.nombre}}</h4>
              <p class="card-text"><b>Raza:&nbsp;</b>{{prestacion.raza}}</p>
              <p class="card-text"><b>Talla:&nbsp;</b>{{prestacion.talla}}</p>
              <p class="card-text"><b>Chip:&nbsp;</b>{{prestacion.chip}}</p>
            </div>
          </div>   
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="ngOnInit()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
