<div class="row">
  <div class="col-2 mx-2">{{ cliente.nombre | uppercase }}</div>
  <div class="col-2 mx-2">{{ cliente.apellido1 | uppercase }}</div>
  <div class="col-1 mx-2">{{ cliente.apellido2 | uppercase }}</div>
  <div class="col-1 mx-2">{{ cliente.telefono }}</div>
  <div class="col-1 mx-2">{{ cliente.email }}</div>
  <div class="col-2">
    <div class="col-2 justify-content-end">
      <button class="btn btn-primary" (click)="editar(cliente)">Ver</button>
    </div>
    <div class="col-2">
      <button class="btn btn-danger" (click)="eliminar(cliente)">
        Eliminar
      </button>
    </div>
  </div>
</div>
