<div class="row">
  <div class="col-2 mx-2">{{ cliente.nombre | uppercase }}</div>
  <div class="col-2 mx-2">{{ cliente.apellido1 | uppercase }}</div>
  <div class="col-1 mx-2">{{ cliente.apellido2 | uppercase }}</div>
  <div class="col-2">
      <button class="btn btn-primary" [routerLink]="['/clientes/formulario', cliente.id]"
      routerLinkActive="router-link-active">Ver</button>
  </div>
  <div class="col-2">
      <button class="btn btn-danger" (click)="delete(cliente)">Eliminar</button>
  </div>
</div>
