<hr class='w-100'>
<div class="row justify-content-end">
  <button class="btn btn-warning">
    <a class="nav-link" routerLink="/prestaciones/formulario">Nueva Prestacion</a>
  </button>
</div>
<hr class='w-100'>
<div class="row">
  <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2 d-flex flex-column text-center"><b>MASCOTA</b></div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-1 col-xl-1 d-flex flex-column text-center">
    <span><b>TIPO</b></span>
    <span display="inline-block"><fa-icon [icon]="faBed"></fa-icon>&nbsp;&nbsp;<fa-icon [icon]="faBone"></fa-icon></span>
  </div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2 d-flex flex-column text-center"><b>INICIO</b></div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2 d-flex flex-column text-center"><b>FIN</b></div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-1 col-xl-1 d-flex flex-column text-center"><b>JAULA</b></div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2 d-flex flex-column text-center">
    <span><b>COMIDA</b></span>
    <span><b>(T)</b></span>
  </div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-1 col-xl-1 d-flex flex-column text-center">
    <span><b>COMIDA</b></span>
    <span><b>(Gr)</b></span>
  </div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-1 col-xl-1 d-flex flex-column text-center">
    <span><b>PRECIO</b></span>
    <fa-icon [icon]="faEuro"></fa-icon>
  </div>
</div>

<div *ngFor="let prestacion of prestaciones">
  <app-prestacion [prestacion]="prestacion" (prestacionseleccionada)="verDatos($event)"></app-prestacion>
</div>

<!-- Modal -->
<div class="modal fade" id="modalPrestacion" tabindex="-1" role="dialog" aria-labelledby="datosPrestacion"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="datosPrestacion">Datos Completos Prestacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-prestacion-ficha *ngIf='prestacionVerDatos' [prestacion]='prestacionVerDatos' (prestacionEliminar)='onPrestacionEliminar($event)' (prestacionEditar)='onPrestacionEditar($event)'></app-prestacion-ficha>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="ngOnInit()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
