<div class="row">
  <div class="col-2 mx-2">{{ mascota.nombre | uppercase }}</div>
  <div class="col-2 mx-2">{{ mascota.raza | uppercase }}</div>
  <div class="col-1 mx-2">{{ mascota.talla | uppercase }}</div>

  <div class="col-2">
    <div class="col-2 justify-content-end">
      <button class="btn btn-primary" (click)="editar(mascota)">Ver</button>
    </div>
    <div class="col-2">
      <button class="btn btn-danger" (click)="eliminar(mascota)">
        Eliminar
      </button>
    </div>
  </div>
</div>
