/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.not-found-div {
  color:white;

}
.not-found-h1 {
  color:fuchsia;
}
.not-found-h2 {
  color:red;
}
