<form #alojamientoForm="ngForm">
  <div class="form-row py-2">
    <div class="col-lg-6 col-md-12">
      <label>Mascota <sup class="text-danger">*</sup></label>
      <select name="mascotas" [(ngModel)]="codMascota" (change)="cargarMascota()" class="form-control" required #mascota="ngModel" [ngClass]="{ 'is-invalid': mascota.invalid && (mascota.dirty || mascota.touched),
      'is-valid': !mascota.invalid }">
        <option *ngFor="let mascota of mascotas" [value]="mascota.id">
          <span>{{ mascota.nombre }}</span>
        </option>
      </select>
      <div class="text-danger" *ngIf="mascota.invalid && (mascota.dirty || mascota.touched)">
        <div *ngIf="mascota.errors.required">
            Es obligatorio elegir la mascota
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <label>JAULA <sup class="text-danger">*</sup></label>
      <select name="jaula" id="jaula" [(ngModel)]='prestacion.jaula' class="form-control" required #jaula="ngModel" [ngClass]="{ 'is-invalid': jaula.invalid && (jaula.dirty || jaula.touched),
      'is-valid': !jaula.invalid }">
        <option [value]="jaula"  *ngFor="let jaula of jaulas">{{jaula}}</option>
      </select>
      <div class="text-danger" *ngIf="jaula.invalid && (jaula.dirty || jaula.touched)">
        <div *ngIf="jaula.errors.required">
            Es obligatorio elegir la jaula
        </div>
      </div>
    </div> 
    <!-- <div class="col-lg-6 col-md-12">
      <label>Entrada <sup class="text-danger">*</sup></label>
      <input type="date" class="form-control" [(ngModel)]="prestacion.fechaEntrada" name="fechaEntrada" min='1990-01-11' max='2050-12-31'
        required #fechaEntrada="ngModel" />
    </div>
    <div class="col-lg-6 col-md-12">
      <label>Salida <sup class="text-danger">*</sup></label>
      <input type="date" class="form-control" [(ngModel)]="prestacion.fechaSalida" name="fechaSalida" min='prestacion.fechaEntrada' max='2050-12-31'
        required #fechaSalida="ngModel" />
    </div>   -->
  </div>
  <div class="form-row justify-content-between pt-5">
    <div class="col-lg-5 col-md-12">
      <button class="btn btn-primary" role="button"
      (click)="crearAlojamiento()"
        [disabled]="!alojamientoForm.form.valid">
        Crear Alojamiento
      </button>
    </div>
  </div>
</form>